# {{ ansible_managed }}

server {
    listen      {{ nginx_listen_port|default(80) }};
    server_name {{ fqdn if fqdn }} {{ ansible_default_ipv4.address|default('') }};

    access_log /var/log/nginx/{{ domain|default('default') }}.access.log;
    error_log  /var/log/nginx/{{ domain|default('default') }}.error.log;

{% if release_pub_dir %}
    root {{ release_pub_dir }};
{% endif %}
    index index.php;

    # NOTE: if the request is over http
    if ($http_x_forwarded_proto != 'https') {
        set $unsecure true;
    }

    # NOTE: if the request is from aws alb
    if ($http_x_amzn_trace_id) {
      set $unsecure "${unsecure}+aws";
    }

    # NOTE: redirect any http request from aws alb
    if ($unsecure = "true+aws") {
        return 301 https://$server_name$request_uri;
    }

    location ~ ^/(status|ping)$ {
        access_log off;

        allow 127.0.0.1;
        allow 10.0.0.0/8;
        deny  all;

        include fastcgi_params;
        fastcgi_pass unix:/var/run/php5-fpm.sock;
    }

    include snippets/directive-only/extra-security.conf;
    include snippets/realip.conf;
    include snippets/magento.conf;
    include snippets/location/protect-system-files.conf;
    include snippets/location/cache-busting.conf;
    include snippets/location/expires.conf;

    location ~ .php$ {
        if (!-e $request_filename) { rewrite / /index.php last; } ## Catch 404s that try_files miss

        fastcgi_param  SSL_OFFLOADED $is_https if_not_empty;
        fastcgi_param  HTTPS         $is_https if_not_empty;

{% if mage_run_code %}
        fastcgi_param  MAGE_RUN_CODE    {{ mage_run_code }};
{% endif %}
{% if mage_run_type %}
        fastcgi_param  MAGE_RUN_TYPE    {{ mage_run_type }};
{% endif %}
{% if mage_vendor_dir %}
        fastcgi_param  MAGE_VENDOR_ROOT {{ mage_vendor_dir }};
{% endif %}
{% if mage_dev_code %}

        fastcgi_param  MAGE_IS_DEVELOPER_MODE {{ mage_dev_code }};
{% endif %}

        fastcgi_pass unix:/var/run/php5-fpm.sock;
        include      snippets/fastcgi-php.conf;

        chunked_transfer_encoding off;
    }
}
